<div class="container">
    <div class="row wi">
        <div class="col-1"></div>
        <div class="col-4 ">
            <span class="active">Activities &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
            <span class="acttxt">Gyumri an active &nbsp; &nbsp; &nbsp;&nbsp; and lively city</span>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <span class="txt">When summer comes, Gyumri is the place to be.
                From unique cafes in the sunny downtown to relaxing terraces in one of the many parks. Go to one of the events or discover it all for yourself.
            </span>
        </div>
    </div>
</div>