<div class="container">
    <div class="row">
        <hr class="line">
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <img src="./assets/cherkez.jpg" class="cherkez float-start img-fluid">
        </div>
        <div class="col-1"></div>
        <div class="col-6 float-center colume">
            <span class="enjoy float-center">
                Enjoy culinary in Gyumri &nbsp; &nbsp; &nbsp;</span>
            <span class="about">Gyumri's Fish Restaurant(Cherkezi dzor)</span>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <hr class="line">
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <img src="./assets/sevberd.jpg" class="sevberd float-start img-fluid">
        </div>
        <div class="col-1"></div>
        <div class="col-6 float-center colume">
            <span class="enjoy float-center">
                Tourist attraction in Gyumri &nbsp; &nbsp; &nbsp;</span>
            <span class="abouts">Sev Berd or Black Fortress</span>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <hr class="line">
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <img src="./assets/square.jpg" class="square float-start img-fluid">
        </div>
        <div class="col-1"></div>
        <div class="col-6 float-center colume">
            <span class="enjoy float-center">Gyumri Main Square</span>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <hr class="line">
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <img src="./assets/museum.jpg" class="museum float-start img-fluid">
        </div>
        <div class="col-1"></div>
        <div class="col-6 float-center colume">
            <span class="enjoy float-center">Museums in Gyumri &nbsp; &nbsp; &nbsp;</span>
            <span class="aboutss">Dzitoghtsyan Museum of National Architecture</span>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <hr class="line">
    </div>
</div>