<div class="container-fluid cnt">
  <div class="row">
    <div class="col-4"></div>
    <div class="col txtcenter">
      <span class="text float-center">Never miss anything again</span><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <span class="contact">
        Stay informed of the events in Gyumri. Subscribe to our personalized
        newsletter.
      </span>
      <div class="contact-us">
        <input type="text" placeholder="Name" class="name" />
        <input type="email" placeholder="E-mail" class="email" />
      </div>
      <button class="btn">Sign up</button>
    </div>
    <div class="col-2"></div>
    <div class="col-5">
      <img src="./assets/abovyanstreet.jpg" class="streetImg" />
    </div>
  </div>
</div>
