<div  class="main-cnt">
    <div class="head">
        <div class="container-fluid">
            <div class="row  bgImage">        
                <div class="col-6">
                    <span class="txt">Highlights</span>
                    <span class="txt">News</span>
                    <span class="txt">Activity</span>
                </div>
            <div class="row">
                <div class="col relative text-center">
                    WELCOME IN GYUMRI
                </div>
            </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    
</div>