<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <span class="txt">CULTURE</span>
            <span class="txt">EAT & DRINK</span>
            <span class="txt">STORES</span>
            <span class="txt">SPEND THE NIGHT</span>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <span class="txt1">Museums</span>
            <span class="txt1">Bars & cafes</span>
            <span class="txt1">Markets</span>
            <span class="txt1">Hostels</span>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <span class="txt1">Churches</span>
            <span class="txt3">Fast Food</span>
            <span class="txt4">Shops</span>
            <span class="txt1">Hotels</span>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <span class="txt1">City walks</span>
            <span class="txt1">Restaurants</span>
            <span class="txt1">Shopping centres</span>
        </div>
    </div>
</div>